# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
!packages/themeflow/example/pubspec.lock
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs and OS
.idea/
*.iml
.vscode/
.DS_Store

# Golden test failures
**/failures/
